node_modules
npm-debug.log
pnpm-debug.log
yarn-error.log
.git
.gitignore
.dockerignore
Dockerfile
.vscode
.idea
.DS_Store
coverage
build
.tmp
.cache
.env
.env.*
**/*.log
public/uploads
/dist
Thumbs.db
